<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/update.css">
    <title>Document</title>
</head>

<body>
    <main>
        <form class="form-pokemon" action="/<%= pokemonEdit.id %>?_method=PUT" method="Post">
            <h1 class="tittle">Actualize su Pokemon</h1>
            <input name="title" type="text" value="<%=pokemonEdit.title%>" placeholder="Nombre" required>
            <input name="descripcion" type="text" value="<%=pokemonEdit.descripcion%>" placeholder="Descripcion"
                required>
            <input name="price" type="number" value="<%=pokemonEdit.price%>" placeholder="Precio" required>
            <input name="image" type="url" id="" placeholder="Ingrese su url">
            <input name="stock" type="number" value="<%=pokemonEdit.stock%>" placeholder="Stock" required>
            <button type="submit" class="button-create-poke">Actualizar</button>
        </form>
    </main>
</body>

</html>